<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<ul class="unstyled">
  <li>Email: <a href="mailto:andyywz@gmail.com">andyywz@gmail.com</a></li>
  <li>Portfolio: <a href="http://andyyong.com">Andy Yong</a></li>
  <li>Resume: <a href="http://andyyong.com/resume">Andy Yong</a></li>
</ul>