<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Email: <a href="mailto:andyywz@gmail.com">andyywz@gmail.com</a>
  Portfolio: <a href="http://andyyong.com">Andy Yong</a>
  Resume: <a href="http://andyyong.com/resume">Andy Yong</a>
</p>